@(inputForm: Form[InputForm])(implicit messages: Messages)

@import helper._

@main("Input") {

	@helper.form(action = routes.Input.convert) {

		@textarea(inputForm("paste input"), args = 'rows -> 25, 'cols -> 80)

		<div class="form-actions actions">
			<input type="submit" class="btn btn-primary" value="Convert Input"/>
			<a href="@routes.Application.index" class="btn">Cancel</a>
		</div>

	}
}
