@(output: String)

@main("Output") {
	
	<textarea rows=25 cols=80 readonly="readonly">
@Html(output).toString()
	</textarea>
	
	<p>
		<a href="@routes.Input.show" class="btn">New Input</a>
	</p>
			
}
